"*":
  "Remote-FTP":
    connector: {}
  core:
    disabledPackages: [
      "remote-edit"
    ]
    projectHome: "/Users/smartt/workspace"
    telemetryConsent: "no"
  editor:
    fontSize: 15
    softWrap: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "4660154a-9260-4401-b564-5f4262153c10"
  "linter-ui-default":
    panelHeight: 69
  "remote-edit":
    filterHostsUsing:
      port: true
  welcome:
    showOnStartup: false
